<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>

    <add name="connect" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-PKKM2O6; Initial Catalog=FE_Database; integrated security=true" />

  </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
