<?xml version="1.0"?>
<configuration>
  <connectionStrings>
   
	  <add name="hms" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-V3G81QS;Initial Catalog=mastercontact;Integrated Security=True"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" defaultLanguage="C#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <authentication mode="Windows"/>
  </system.web>
</configuration>
