<?xml version="1.0"?>
<configuration>
	<connectionStrings>

		<!--<add name="abc" connectionString="Data Source=103.74.54.136,1533;Initial Catalog=solution3_;User ID=solution3;Password=Anup1234!@#$" providerName="System.Data.SqlClient"  />-->
		
		<add name="abc" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-V3G81QS; Initial Catalog=grocery; integrated security=true" />

	</connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>